<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Вы долистали до конца интернета</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Towns" asp-action="Index">Главная страница</a>
    </div>
</div>