<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>У Вас нет доступа к этой странице</h2>
        <p>Пожалуйста, нажмите на кнопку ниже, чтобы вернуться на главную страницу</p>
        <hr />
        <p>
            <a asp-controller="Towns" asp-action="Index" class="btn btn-outline-success" >На главную</a>
        </p>
    </div>
</div>