<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Аккаунт успешно создан</h2>
        <p>Теперь вы можете войти в свой аккаунт.</p>
        <hr />
        <p>Спасибо!</p>
    </div>
</div>